doctype html
html(lang="en")
  head
    title= GlassCamp
 body
    h1 GlassCamp confirmation
    #container
     p Please,
     p= model.name 
     p follow this link to confirm your register 
     p=	model.confimUrl   
     
    #footer
    p ©Arkea tous droits réservés - Ce message et toutes les pièces jointes sont établis a l'intention exclusive de ses destinataires. Si vous recevez ce message par erreur, merci d'en avertir immédiatement l'expéditeur. Toute publication, totale ou partielle, est interdite, sauf autorisation expresse. L'internet ne permettant pas d'assurer l'intégrité de ce message, Arkea décline toute responsabilité au titre de ce message, dans l'hypothèse ou il aurait été modifié.
    
    
   
